---
interface Props {
	profileData: {
		country: string;
		display_name: string;
		email: string;
		external_urls: {
			spotify: string;
		};
		followers: {
			href: string | null;
			total: number;
		};
		href: string;
		id: string;
		images: Array<{
			height: number | null;
			url: string;
			width: number | null;
		}>;
		product: string;
		type: string;
		uri: string;
	} | null;
}
const { profileData } = Astro.props;
---

<div>
	<h2 class='mb-4 text-2xl font-bold'>User Profile</h2>
	<div class='rounded-lg bg-white p-6 shadow-md'>
		<p><strong>Display Name:</strong> {profileData?.display_name}</p>
		<p><strong>Email:</strong> {profileData?.email}</p>
		<p><strong>Country:</strong> {profileData?.country}</p>
		<p><strong>Followers:</strong> {profileData?.followers.total}</p>
		<p>
			<strong>Spotify Profile:</strong>
			<a href={profileData?.external_urls.spotify} target='_blank' rel='noopener noreferrer'
				>{profileData?.external_urls.spotify}</a
			>
		</p>
	</div>
</div>
